//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     

div.form-group
    label Created by TTEU
    p
    label(for="a") Valor de a:
    input.form-control(id="a" onKeyPress="return soloNumeros(event)")
    p
    label(for="b") Valor de b:
    input.form-control(id="b" onKeyPress="return soloNumeros(event)")
    p
    label(for="n") Potencia:
    input.form-control(id="n" onKeyPress="return soloNumeros(event)")
    p
    label(for="n") Posicion:
    input.form-control(id="n1" onKeyPress="return soloNumeros(event)")
    p
    button.btn-group(onclick="loadROT1();") Calcular
    <br>
    <br>
    p(id="ops")