//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     

html
    head
    title Imagenes
    body
        form(method="post",enctype="multipart/form-data",action="/upload")
            p
            input(type="text",name="title",placeholder="title")
            p
            input(type="file",name="upl")
            p
            input(type="submit")